/* table{
    border:1px solid gray;
}

th{
    background-color: black;
    color:green;
    padding: 20px
}

th,td{
    padding: 5px;
    border: 1px solid white;
}

td{
    background: silver;
    color:red;

} */